BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Attach
PointerAlignment: Right
DerivePointerAlignment: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
InsertBraces: true
SeparateDefinitionBlocks: Always
SpaceBeforeParens: ControlStatements
